@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    color: white;
    user-select: none; 
}